/*
Author:Sanukaji Ale Magar;
Theme:Food Order Website Amin;
version:1.0;
*/


* {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    /* border: 1px solid black; */
    width:80%;
    margin: 0 auto;
    padding: 1%;
}
.text-center{
    text-align: center;
}
/* CSS for footer */
.footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background-color: #ff4757;
    color:white;
}

/* CSS for Menu */

.menu ul {
    list-style-type: none;
}
.menu {
    border-bottom: 1px solid green;

    position: absolute;
  
   
    width: 100%;
    /* Height of the footer*/ 
}

.menu ul li {
    display:inline;
    margin:1%;

}

.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color:#ff6b81;

}

.menu ul li a:hover {
    color:#ff4757;

}

/* CSS for main content  */

.main_content {
    background-color: #f1f2f6;
    padding: 3% 0;
   
   

}
.clearfix {
    float:none;
    clear:both;
}

.col-4 {
    width:18%;
    background-color: white;
    margin:1%;
    padding: 2%;
    float:left;
    
}


.tbl-full {
    width:100%;


}
.tbl-30 {
    width:30%;
}
table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align:left;
}
table tr td {
    padding: 1%;
}

.btn-primary {
    background-color:#1e90ff;
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover {
    background-color: #3742fa;
}


.btn-secondary {
    background-color:#7bed9f;
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover {
    background-color: #2ed573;
}


.btn-danger {
    background-color:#ff6b81;
    padding: 1%;
    color:white;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover {
    background-color: #ff4757;
}


input[type=text], select ,input[type=password],input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .delete-title {
      color:red;
      font-size: 2rem;
  }
.success{
    color:#2ed573;
}
.error{
    color:#ff4757;
}

/* Css for login */

.login {
    width:30%;
    border:1px solid gray;
    margin:10% auto;
    padding: 2%;


}

.my-1 {
    margin: 1% 0;
} 
.my-2 {
    margin: 2% 0;
} 
.my-3 {
    margin: 3% 0;
} 
.my-4 {
    margin: 4% 0;
} 
.my-5 {
    margin: 5% 0;
} 



.mx-1 {
    margin: 1% 0;
} 
.mx-2 {
    margin: 2% 0;
} 
.mx-3 {
    margin: 3% 0;
} 
.mx-4 {
    margin: 4% 0;
} 
.mx-5 {
    margin: 5% 0;
} 


  .sm-img {
      width:100px;
      height:100px;
  }
  
